button {
    background-color: cadetblue;
    padding: 15px 25px;
    border: 2px solid black;
    border-radius: 20%;
    display: inline-block;
    margin-top: 2%;
    margin-right: 2%;
}

.container {
    text-align: center;
}

body {
    background-color: bisque;
    text-align: center;
}

legend {
    color: brown;
}

fieldset {
    width: auto;
    height: auto;
    margin-bottom: auto;
    margin-left: 34%;
    margin-right: 34%;
}
